body {
  background: #FFCFF1;
  color: #000000;
  font-size: 14px;
  font-family: cursive;
}

.article {
  background: #ffffff;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
}

.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.post-title {
    color: #000000;
    font-size: 30px;
}

.one-post {
  color: #000000;
  font-family: Tahoma;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}

.article-author {
  font-size: 19px;
  color: #544C5C;
}

.article-text {
  font-size: 15px;
}
