<!DOCTYPE html>
<title> Архив всех статей </title>
<head>
<link rel="stylesheet" href="static/css/style.css">
</head>
<body class='archive'>
    <div class="header">
        <img src="static/s1200.jpg">
    </div>
    <div class="archive">
      {% for post in posts %}
      <div class="one-post">
        <a href='/article/{{ post.id }}'><h2 class="post-title">{{ post.title }}</h2></a>
        <div class="article-info">
        <div class="article-author">{{ post.author.username }}</div>
        <div class="article-created-date">{{ post.created_date }}</div>
      </div>
      <p class="article-text">{{ post.get_excerpt }}</p>
    </div>
    <hr>
    {% endfor %}
    </div>
</body>
